@model List<OrderType>;
@{
    ViewData["Name"] = "Bills Create Page";
    var orderTypes = Model;
}

<form action="/Order/Save" method="POST">
    <div class="form-group">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" name="Name">
    </div>
    <div class="form-group">
        <label for="CustomerEmail">CustomerEmail</label>
        <input type="text" class="form-control" id="CustomerEmail" name="CustomerEmail"></input>
    </div>
    <div class="form-group">
        <label for="Image">Image</label>
        <input type="text" class="form-control" id="Image" name="Image">
    </div>
    <div class="form-group">
        <label for="OrderType">OrderType</label>
        <select class="form-control" id="OrderTypeId" name="OrderTypeId">
            @foreach (var orderType in orderTypes)
            {
                <option value="@orderType.OrderTypeId">@orderType.OrderTypeName</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>

